.navigation-bar {
  /* Position and Layout */
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99999999999;
  /* Display and Visibility */
  display: flex;
  /* Box Model */
  border-bottom: 1px solid #0e0d0d;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  height: 6rem;
  /* Background */
  background-color: #1F2323;
  backdrop-filter: blur(8px);
}

@media (max-width: 700px) {
  .navigation-bar {
    justify-content: center;
  }
}

.navigation__item {
  /* Animation */
  transition: all 0.2s;
}

.navigation__item:not(:last-child) {
  /* Box Model */
  margin-right: 3rem;
}

.navigation__item-active {
  /* Typography */
  color: #39E0CF;
}

.navigation__item:hover {
  /* Typography */
  color: #39E0CF;
}
