.footer {
  /* Position and Layout */
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* Display and Visibility */
  display: flex;
  /* Box Model */
  height: 120px;
  /* Background */
  background-color: #1F2323;
}

.return-to-hero {
  /* Position and Layout */
  left: 0;
  position: absolute;
  right: 0;
  top: -25px;
  /* Animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  /* Box Model */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  height: 42.5px;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  /* Background */
  background-color: #1F1F1F;
  /* Typography */
  text-align: center;
}

.return-to-hero:hover {
  /* Animation */
  animation-name: bounceUpDown;
  -moz-animation-name: bounceUpDown;
  /* Background */
  cursor: pointer;
}

/* Animation (Bounce Up / Down) */
@keyframes bounceUpDown {
  0% {
    /* Display and Visibility */
    transform: translateY(0);
  }

  50% {
    /* Display and Visibility */
    transform: translateY(-0.5rem);
  }

  100% {
    /* Display and Visibility */
    transform: translateY(0);
  }
}

.copyright {
  /* Typography */
  color: #fafafa;
  font-size: 10px;
}

.licenses__button {
  /* Box Model */
  margin-top: 15px;
  /* Background */
  cursor: pointer;
  /* Typography */
  font-size: 8px;
  letter-spacing: 2px;
}
