version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all-github-actions:
        patterns: ["*"]
    reviewers:
      - "monkeyinator"
    labels:
      - "dependabot"
